div{
    margin: 100px;
    background-color: burlywood;
    border: 3px solid black;
    height: 100px;
    width: 100px;
}

.translated{
    transform: perspective(15px) translateZ(-10px);
}

.scaled{

    transform:perspective(350px) scaleZ(5) rotateX(45deg);
}

.rotated{
    transform:rotate(45deg);
}